
*{
    margin: 0;
    padding: 0;
}

.menu header{
    position: fixed;
    width: 100%;
    background-color: black;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.fundo_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 97.2vw;
    padding: 20px;
    background-color: rgb(107, 107, 107);
}


.menu_item{
    list-style: none;
    display: flex;
    justify-content: center;
}

.list li.l1{
    margin-left: -5px;
    padding: 10px;
}

.list li.l2{
    margin-left: 60px;
    padding: 10px;
}

.estrutura{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.estrutura input.pesquisa{
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

.estrutura button.pesquisa{
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

#resultados {
    margin-top: 20px;
    width: 90%;
    background-color: rgb(214, 214, 214);
    padding: 20px;
    border-radius: 10px;
    color: black;
    max-height: 500px;
    overflow-y: auto;
}

.anime-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.anime-item img{
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.anime-item h3{
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 14px;
    background-color: #0000009f;
    margin: 0;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.anime-item p {
    font-size: 14px;
    color: #666666;
    margin-top: 30px;
    margin-left: 0px;
    text-align: justify;
}

.anime-item a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.anime-item a:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .anime-item {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .anime-item img {
        margin-right: 0;
        margin-bottom: 10px; 
    }

    .anime-item h3{
        position: static;
        background-color: transparent;
        color: #333333;
    }
    .anime-item a{
        position: static;
        margin-top: 10px;
    }
}


.manga-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.manga-item img{
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.manga-item h3{
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 14px;
    background-color: #0000009f;
    margin: 0;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.manga-item p {
    font-size: 14px;
    color: #666666;
    margin-top: 30px;
    margin-left: 0px;
    text-align: justify;
}

.manga-item a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.manga-item a:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .manga-item {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .manga-item img {
        margin-right: 0;
        margin-bottom: 10px; 
    }

    .manga-item h3{
        position: static;
        background-color: transparent;
        color: #333333;
    }
    .manga-item a{
        position: static;
        margin-top: 10px;
    }
}
